.buttons{
    grid-area: tools;
    display: grid;
    grid-template-rows: repeat(10,30px);
    gap: 10px;
    padding: 1px 5px;
    justify-content: center;
}

.buttons > button{
    background: transparent;
    color: #fff;
    border: None;
    font-size: 20px;
    padding: 5px
}

.buttons > button:hover{
    border: 1px solid #000;
}
